@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/common/layuie.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/css/common/font/iconfont.css" rel="stylesheet" />
    <base target="_blank">
</head>
<body style="padding:15px;">
    <div class="wrapper wrapper-content animated fadeInUp">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="novelName" autocomplete="off" placeholder="请输入小说名称" class="layui-input">
                </div>
                <button id="btn-search" type="submit" class="layui-btn">搜索</button>
            </div>
        </blockquote>
        <div class="data-list">
            <table id="novel-table" lay-filter="novel-table"></table>
            <table id="article-table" lay-filter="article-table"></table>
        </div>
    </div>
    <script type="text/html" id="novel-bar">
        <a class="layui-btn layui-btn-sm" lay-event="viewChapters">获取小说章节列表</a>
    </script>
    <script type="text/html" id="article-bar">
        <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-sm" lay-event="view">查看</a>
    </script>
    <script type="text/html" id="novel-isemail">
        <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" lay-event="email" {{d.isOpenEmail=="1"?'checked':''}}>
    </script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/business/novel/Index.js"></script>
</body>
</html>