@model IList<Notice>
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
</div>

<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>公共内容</th>
            <th>添加人</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Content</td>
                    <td>@item.Registrant</td>
                </tr>
            }

        </tbody>
    </table>
</div>
