@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/common/layuie.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/css/common/font/iconfont.css" rel="stylesheet" />
    <base target="_blank">
</head>
<body style="padding:15px;">
    <div class="wrapper wrapper-content animated fadeInUp">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
                <button type="submit" class="layui-btn">搜索</button>
            </div>
            <div class="layui-inline">
                <button id="btn-add" class="layui-btn">新建任务</button>
            </div>
        </blockquote>
        <div class="data-list">
            <table id="task-table" lay-filter="task-table"></table>
        </div>
        <div>
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务信息监控</label>
                    <div class="layui-input-block">
                        <textarea id="TaskInfo" placeholder="" style="height:300px;" class="layui-textarea"></textarea>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <script type="text/html" id="task-bar">
        <a class="layui-btn layui-btn-small" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-small" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="task-isrun">
        <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" lay-event="run">
    </script>
    <script type="text/html" id="is-recurrent">
        {{# if(d.isRecurrent=="1"){ }}
        <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" lay-event="isRecurrent" checked>
        {{# }else{ }}
        <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" lay-event="isRecurrent">
        {{# } }}
    </script>
    <script type="text/html" id="task-crawlerType">
        {{# if(d.crawlerType=="1"){ }}
        <div>基于数据</div>
        {{# }else{ }}
        <div>基于网址</div>
        {{# } }}
    </script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/business/spidertask/Index.js"></script>
</body>
</html>