@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>H+ 后台主题UI框架 - 项目</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/css/common/font/iconfont.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <base target="_blank">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-title">
                        <h5>所有采集任务</h5>
                        <div class="box-tools">
                            <button class="layui-btn layui-btn-small">新建任务</button>
                            <button class="layui-btn layui-btn-small">导出Excel</button>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-11">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="exampleInputName2">任务名称</label>
                                        <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入任务名称">
                                    </div>
                                   
                                    <button type="submit" class="layui-btn layui-btn-small">搜索</button>
                                </form>
                            </div>
                        </div>
                        <div class="list">
                            <table class="layui-table">
                                <thead>
                                    <tr>
                                        <th>状态</th>
                                        <th><i class="iconfont icon-spider"></i> 爬虫</th>
                                        <th>创建时间</th>
                                        <th>当前进度</th>
                                        <th style="width:12%;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>进行中</span>
                                        </td>
                                        <td >
                                            <span>标题：采集小说-一念永恒</span>
                                            <br />
                                            <span>描述：每天12:00和18:00获取最新章节</span>
                                        </td>
                                        <td>
                                            2014.08.15
                                        </td>
                                        <td >
                                            <small>当前进度： 48%</small>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td >
                                            <button  class="layui-btn layui-btn-small"><i class="iconfont icon-edit"></i> 编辑 </button>
                                            <button  class="layui-btn layui-btn-danger layui-btn-small"><i class="iconfont icon-delete"></i> 删除 </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
