@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/common/layuie.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/css/common/font/iconfont.css" rel="stylesheet" />
    <!--引入element ui样式-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <base target="_blank">
</head>
<body style="padding:15px;">
    <div class="wrapper wrapper-content animated fadeInUp">
        <blockquote id="app" class="layui-elem-quote">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    @*<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">*@
                    <el-input placeholder="请输入内容" prefix-icon="el-icon-search" ></el-input>
                </div>
                <el-button type="primary">搜索</el-button>
            </div>
            <div class="layui-inline">
                <el-button v-on:click="openAddDialog" type="success">新建任务</el-button>
            </div>
        </blockquote>
        <div class="data-list">
            <table id="task-table" lay-filter="task-table"></table>
        </div>
        <div>
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务信息监控</label>
                    <div class="layui-input-block">
                        <textarea id="TaskInfo" placeholder="" style="height:300px;" class="layui-textarea"></textarea>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <script type="text/html" id="task-bar">
        <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="is-recurrent">
        <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" lay-filter="isRecurrent" {{d.isRecurrent=="1"?'checked':''}}>
    </script>
    <script type="text/html" id="task-crawlerType">
        {{# if(d.crawlerType=="1"){ }}
        <div>基于数据</div>
        {{# }else{ }}
        <div>基于网址</div>
        {{# } }}
    </script>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--layui组件库-->-->
    <script src="~/lib/layui/layui.all.js"></script>
    <script src="~/js/common/Core.js"></script>
    <script src="~/js/business/spidertask/spidertaskservice.js"></script>
    <script src="~/js/business/spidertask/Index.js"></script>
</body>
</html>