.row {
    margin-left: -10px;
    overflow: hidden;
}
.panel {
    float: left;
    text-align: center;
    width: 16.666%;
    min-width: 210px;
    margin-bottom: 10px;
}

.col {
    padding-left: 10px;
}
.panel_box a {
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}
.panel_icon {
    width: 40%;
    display: inline-block;
    padding: 22px 0;
    background-color: #54ade8;
    float: left;
}
.panel_word {
    width: 60%;
    display: inline-block;
    float: right;
    margin-top: 22px;
}

    .panel_word span {
        font-size: 25px;
        display: block;
        height: 30px;
        line-height: 30px;
    }

.panel_box a cite {
    font-size: 16px;
    display: block;
    font-style: normal;
}
.panel_icon i {
    font-size: 3em;
    color: #fff;
}