@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <ul class="flow-default" style="height: 300px;" id="flow-images"></ul>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/business/images/viewimages.js"></script>
</body>
</html>