/*.icon {
    font-size: 42px;
    margin: 10px 0;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}*/
@font-face {
    font-family: 'iconfont'; /* project id 350379 */
    src: url('//at.alicdn.com/t/font_eod7a2ncsl0g4x6r.eot');
    src: url('//at.alicdn.com/t/font_eod7a2ncsl0g4x6r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_eod7a2ncsl0g4x6r.woff') format('woff'), url('//at.alicdn.com/t/font_eod7a2ncsl0g4x6r.ttf') format('truetype'), url('//at.alicdn.com/t/font_eod7a2ncsl0g4x6r.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 26px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*主题设置*/
.icon-themesetting:before { content: "\e637"; }
/*清理缓存*/
.icon-clearcache:before { content: "\e802"; }
/*锁屏*/
.icon-screenlock:before { content: "\e6a7"; }
/*全屏*/
.icon-fullscreen:before { content: "\e634"; }
/*登出*/
.icon-signout:before { content: "\e60f"; }
/*手*/
.icon-hand:before {
    content: "\e83e";
}
/*关闭所有选项卡*/
.icon-closeall:before {
    content: "\e636";
}
/*刷新*/
.icon-refresh:before {
    content: "\e600";
}
/*home*/
.icon-home:before {
    content: "\e778";
}
/*爬虫*/
.icon-spider:before {
    content: "\e601";
}

